body{
  background-color:#FBFBFB;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
}

.logo {
  width: 120px;
  height: 40px;
}

.auth-buttons{
  display: flex;
  gap: 20px;
}

.register {
  all: unset;
  color: #000;
}

.register:hover{
  border: 1px solid #000;
  border-radius: 6px;
}

.login {
  border: none;
  border-radius: 6px;
  background: #047D8E;
  color: #fff;
}

.login:hover {
  background: #0a97aa;
  transition: background-color 1s;
}

.btn {
  height: 45px;
  width: 100px;
}

.text {
  vertical-align: middle;
  /* font-family: Avenir Next LT Pro; */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
}

.fsize-32 {
  vertical-align: middle;
  /* font-family: Avenir Next LT Pro; */
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */ 
}

.text-align-center {
  text-align: center;
}

.hero-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px 30px;
  padding: 50px;
}

.grid-one {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 70px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.grid-two {

}

.grid-two img {
  /* height: 400px;
  width: 500px; */
  margin-left: -100px;  
  object-fit: contain;
}

.grid-three {
  padding: 70px 0px 0px 30px;
  /* min-width: 700px; */
}

.grid-three h3 {
  text-align: left;
  vertical-align: middle;
  /* font-family: Avenir Next LT Pro; */
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
}

.grid-three button {
  border: none;
  background-color : #047D8E;
  color: #fff;
  margin-top: 10px;
  width: 100%;
  height: 60px;
  transition: background-color 1s;
}

.grid-three button:hover {
  background-color: #0a97aa;
}


.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #0000003f;
  z-index: 1000;
  padding: 20px;
  width: 100vw;
  height: 1440px;
}

.form-container{
  position: fixed;
  right: 0;
  top: 0;
  background: #FBFBFB;
  z-index: 1040;
  min-width: 45%;
  min-height: 100vh;
  padding: 20px;
}

.form-main {
  padding-left: 20px;
}

.form-group {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  padding-bottom: 10px;
}

input {
  padding: 5px;
  height: 24px;
  border: 1px solid #00000023;
}

textarea {
  padding: 5px;
  height: 72px;
  border: 1px solid #00000023;
}

.submit-form {
  margin: 20px 0;
  height: 45px;
  width: 100%;
  border: none;
  background: #047D8E;
  color: #FBFBFB;
}

.Footer {
  background: #0B0E0F;
  color: #fff;
  padding: 40px 60px;
  z-index: 1500;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #FBFBFB;
}

@media only screen and (max-width: 1000px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px 0;
    padding: 50px;
  }
  
  .grid-one {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 70px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .grid-two img {
    /* height: 400px;
    width: 500px; */
    margin-left: -300px;  
    object-fit: contain;
  }
  
  .grid-three {
    padding: 70px 0px 0px 30px;
    /* min-width: 700px; */
  }
  
  .grid-three h3 {
    text-align: left;
    vertical-align: middle;
    /* font-family: Avenir Next LT Pro; */
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
  }
  
  .grid-three button {
    border: none;
    background-color : #047D8E;
    color: #fff;
    margin-top: 10px;
    width: 100%;
    height: 60px;
    transition: background-color 1s;
  }
  
  .grid-three button:hover {
    background-color: #0a97aa;
  }
  
  
  .form-overlay {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    background: #0000003f;
    z-index: 1000;
    padding: 20px;
    width: 100vw;
    min-height: 100vh;
  }
  
  .form-container{
    position: fixed;    
    top: 20px;
    right: auto;
    left: auto;
    background: #FBFBFB;
    z-index: 1040;
    min-width: 45%;
    min-height: 100vh;
    padding: 40px;
    overflow: auto;
  }
  
  .Footer {
    background: #0B0E0F;
    color: #fff;
    padding: 40px 60px;
    z-index: 1500;
  }
  
  .footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #FBFBFB;
  }
  
}

.submission-message{
  margin: 50px auto;
  padding: 40px;
  border: 1px solid green;
  text-align: center;
  line-height: normal;
}

.phone {  
  display: flex;
  gap: 10px;
  justify-content: baseline;
  align-items: center;
  vertical-align: middle;
  text-align: center;
}

a {
  text-decoration: none;
  color: #FBFBFB;
}

.socials {
  padding-top: 10px;
  display: flex;

}

.socials div{
  padding-left: 10px;
}

.copyright{
  padding-top: 10px;
}
